[submodule "depot_tools"]
	path = third_party/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "v8"]
	path = third_party/v8
	url = https://chromium.googlesource.com/v8/v8.git
[submodule "flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "fly"]
	path = fly
	url = git@github.com:superfly/fly.git
	branch = crazytrain-rust
[submodule "libvips"]
	path = third_party/libvips
	url = https://github.com/libvips/libvips.git
